<div id="editemp">
<label id="title"><b>{{titleText}}</b></label>
<form [formGroup]="editDetails" (ngSubmit)="onUpdate(editDetails.value)">
  <table id="edittable">
    <tr>
      <td><label>Employee Name</label></td>
      <td><input type="text" id="name" formControlName="name1" value={{name}}></td>
    </tr>
    <tr>
      <td>
        <label>Location</label>
      </td>
      <td>
        <select id="location" formControlName="location1" value={{location}}>
          <option *ngFor="let i of loc" value={{i}}>{{i}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td><label>Email</label></td>
      <td><input type="text" id="email" formControlName="email1" value={{email}}></td>
    </tr>
    <tr>
      <td><label>Mobile</label></td>
      <td><input type="text" id="mobile" value={{mobile}} formControlName="mobile1"></td>
    </tr>
    <tr>
      <td></td>
      <td>
      <input type="submit" value="Update" id="update" [disabled]="!editDetails.valid"></td>
    </tr>
  </table>
</form>
</div>


